<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC75yT2-90UHLKg1ud68dqs_e6mgiqAuTc</string>
	<key>GCM_SENDER_ID</key>
	<string>367937067657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>user-new-ptspl8</string>
	<key>STORAGE_BUCKET</key>
	<string>user-new-ptspl8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367937067657:ios:798b11b472da9f87278458</string>
	<key>DATABASE_URL</key>
	<string>https://user-new-ptspl8-default-rtdb.firebaseio.com</string>
</dict>
</plist>